<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>R</b>M</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Roe</b>Me (alpha)</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- <!&#45;&#45; Messages: style can be found in dropdown.less&#45;&#45;> -->
        <!-- <li class="dropdown messages&#45;menu"> -->
        <!--   <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown"> -->
        <!--     <i class="fa fa&#45;envelope&#45;o"></i> -->
        <!--     <span class="label label&#45;success">4</span> -->
        <!--   </a> -->
        <!--   <ul class="dropdown&#45;menu"> -->
        <!--     <li class="header">You have 4 messages</li> -->
        <!--     <li> -->
        <!--       <!&#45;&#45; inner menu: contains the actual data &#45;&#45;> -->
        <!--       <ul class="menu"> -->
        <!--         <li><!&#45;&#45; start message &#45;&#45;> -->
        <!--           <a href="#"> -->
        <!--             <div class="pull&#45;left"> -->
        <!--               <img src="<%= gravatar_for(current_user) %>" class="img&#45;circle" alt="User Image"> -->
        <!--             </div> -->
        <!--             <h4> -->
        <!--               Support Team -->
        <!--               <small><i class="fa fa&#45;clock&#45;o"></i> 5 mins</small> -->
        <!--             </h4> -->
        <!--             <p>Why not buy a new awesome theme?</p> -->
        <!--           </a> -->
        <!--         </li> -->
        <!--         <!&#45;&#45; end message &#45;&#45;> -->
        <!--       </ul> -->
        <!--     </li> -->
        <!--     <li class="footer"><a href="#">See All Messages</a></li> -->
        <!--   </ul> -->
        <!-- </li> -->
        <!--  -->
        <!-- <!&#45;&#45; Notifications: style can be found in dropdown.less &#45;&#45;> -->
        <!-- <li class="dropdown notifications&#45;menu"> -->
        <!--   <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown"> -->
        <!--     <i class="fa fa&#45;bell&#45;o"></i> -->
        <!--     <span class="label label&#45;warning">10</span> -->
        <!--   </a> -->
        <!--   <ul class="dropdown&#45;menu"> -->
        <!--     <li class="header">You have 10 notifications</li> -->
        <!--     <li> -->
        <!--       <!&#45;&#45; inner menu: contains the actual data &#45;&#45;> -->
        <!--       <ul class="menu"> -->
        <!--         <li> -->
        <!--           <a href="#"> -->
        <!--             <i class="fa fa&#45;users text&#45;aqua"></i> 5 new members joined today -->
        <!--           </a> -->
        <!--         </li> -->
        <!--       </ul> -->
        <!--     </li> -->
        <!--     <li class="footer"><a href="#">View all</a></li> -->
        <!--   </ul> -->
        <!-- </li> -->
        <!--  -->
        <!-- <!&#45;&#45; Tasks: style can be found in dropdown.less &#45;&#45;> -->
        <!-- <li class="dropdown tasks&#45;menu"> -->
        <!--   <a href="#" class="dropdown&#45;toggle" data&#45;toggle="dropdown"> -->
        <!--     <i class="fa fa&#45;flag&#45;o"></i> -->
        <!--     <span class="label label&#45;danger">9</span> -->
        <!--   </a> -->
        <!--   <ul class="dropdown&#45;menu"> -->
        <!--     <li class="header">You have 9 tasks</li> -->
        <!--     <li> -->
        <!--       <!&#45;&#45; inner menu: contains the actual data &#45;&#45;> -->
        <!--       <ul class="menu"> -->
        <!--         <li><!&#45;&#45; Task item &#45;&#45;> -->
        <!--           <a href="#"> -->
        <!--             <h3> -->
        <!--               Design some buttons -->
        <!--               <small class="pull&#45;right">20%</small> -->
        <!--             </h3> -->
        <!--             <div class="progress xs"> -->
        <!--               <div class="progress&#45;bar progress&#45;bar&#45;aqua" style="width: 20%" role="progressbar" aria&#45;valuenow="20" aria&#45;valuemin="0" aria&#45;valuemax="100"> -->
        <!--                 <span class="sr&#45;only">20% Complete</span> -->
        <!--               </div> -->
        <!--             </div> -->
        <!--           </a> -->
        <!--         </li> -->
        <!--         <!&#45;&#45; end task item &#45;&#45;> -->
        <!--       </ul> -->
        <!--     </li> -->
        <!--     <li class="footer"> -->
        <!--       <a href="#">View all tasks</a> -->
        <!--     </li> -->
        <!--   </ul> -->
        <!-- </li> -->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="<%= gravatar_for(current_user) %>" class="user-image" alt="User Image">
            <span class="hidden-xs"><%= current_user.name %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="<%= gravatar_for(current_user) %>" class="img-circle" alt="User Image">
              <p>
              <%= current_user.name %>
              <small>Member since <%= current_user.created_at.to_date %></small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="/signout" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
